body div.containerDiv{
    width: 320px
}

body .fullWidth{
    width:100%
}

body .largeTextArea{
    resize:none; overflow-x:hidden; overflow-y:scroll;
}

body .lightText {
    font-size: 12 ;
    font-family: Arial, Helvetica, sans-serif;
    color: #555
}

body div.setsContainer{
    display: table;
} 

body div.setsContainer > div{
    display: table-row;
    
} 
body div.setsContainer > div> button{
    display: table-cell;
    width: 1px;
    white-space: nowrap;
} 
body div.setsContainer > div > div{
    color: red;
    width: 270px;
    display: table-cell;
    
} 